<!-- <p>sidebar works!</p> -->

<!-- Sidebar -->
<ul
  class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
  id="accordionSidebar"
>
  <!-- Nav Item - Dashboard -->
  <li class="nav-item active">
    <a class="nav-link" routerLink="/dashboard">
      <i class="fas fa-tachometer-alt"></i>      
      <span>DASHBOARD</span>
    </a>
  </li>

  <!-- Nav Item - Dashboard -->
  <li class="nav-item active">
    <a class="nav-link" routerLink="/faculty" >
      <i class="fas fa-user-tie"></i>
      <span> FACULTY </span>
    </a>
  </li>

  <li class="nav-item active">
    <a class="nav-link" routerLink="/student" >
      <i class="fas fa-user-graduate"></i>
      <span> STUDENT </span>
    </a>
  </li>

  <li class="nav-item active">
    <a class="nav-link" routerLink="/project">
      <i class="fas fa-laptop-code"></i>
      <span> PROJECT </span>
    </a>
  </li>

  <li class="nav-item active">
    <a class="nav-link" routerLink="/setting">
      <i class="fas fa-user-cog"></i>
      <span> SETTINGS</span>
    </a>
  </li>
</ul>
<!-- End of Sidebar -->
