.complete{
    background-color:rgba(194, 249, 173, 0.799);
    color:rgb(94, 246, 33);
    border-color: rgb(94, 246, 33);
}

.proimg{
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.studimg{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}