<!-- Topbar -->
    <app-topbar></app-topbar>       
<!-- End of Topbar -->

<!-- Page Wrapper -->
 <div id="wrapper">

    <!-- Sidebar -->
        <app-sidebar></app-sidebar>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

           
            <!-- Begin Page Content -->
            <div class="container-fluid mt-5">

                <!-- Page Heading -->
                <div>
                    <h1 class="h3 mb-4 text-gray-800 d-inline-block">Dashboard/Project</h1>
                    <button type="button" class="btn btn-outline-primary float-right" data-toggle="modal" data-target="#addproject"><i class="fas fa-plus"></i> &nbsp; Add Project</button>
                </div>   
                <div class="row">                   
                    <div class="card">
                        <div class="card-body">
                            <button type="button" class="btn complete btn-sm">Complete</button>
                            <img src="assets/img/Admin/three-dots-vertical.svg" class="float-right"/>
                            <div class="row justify-content-center">
                                <img src="assets/img/Admin/hotel.jpg" class="proimg mt-3"/>
                            </div>
                          <h5 class="card-title mb-3 font-weight-bold">Hotel Management System</h5>
                          <p class="card-subtitle mb-2 text-muted text-center">Under Guidence: Mr.S.D.Parekh</p>
                          <p class="card-text text-center">Students</p>
                          <div class="row justify-content-center">
                            <img src="assets/img/Admin/Ellipse 7.svg" class="studimg"/>
                          </div>
                          <ul class="nav justify-content-center mt-3">
                            <li class="nav-item mr-4">
                              <p class="text-center">25</p>
                              <p>Tasks</p>
                            </li>
                            <li class="nav-item mr-4">
                                <p class="text-center">15</p>
                                <p>Completed</p>
                            </li>
                            <li class="nav-item">
                                <p class="text-center">5</p>
                                <p>Days left</p>
                            </li>                            
                          </ul>                                                    
                        </div>
                    </div> 
                </div>              
                <app-addproject> </app-addproject>             
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Your Website 2020</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="login.html">Logout</a>
            </div>
        </div>
    </div>
</div>